<section itemprop="author" itemscope itemtype="http://schema.org/Person">
    <h1>About MonthlyInvest...</h1>
    {% comment %}
    <div class="gravatar-container">
        <img itemprop="image" class="gravatar" src="http://gravatar.com/avatar/cba31f6eb61635019e5e6f9b1dba26cf?s=128">
    </div>
    {% endcomment %}
    <div class="aboutme">
        <a itemprop="url" href="http://{{ site.url }}"><span itemprop="name">MonthlyInvest</span></a> 
        <span itemprop="description">
            is an initiative to provide enough knowledge to retail investors so they can make informed decisions about their investments.
            <br/>
            <a href="/about">Click here to know more about our philosophy</a>
        </span>
    </div>

    {% include social_links.html %}
    <div style="clear:both"></div>
</section>
