<section>
    <h1>Disclaimer</h1>
    <p>
        The owner and contributors of this website are not research analysts.<br/>
        This website is intended solely to share our opinions as Investors, and not to persuade anyone into making specific investments.<br/>
        <br/>
        The owners and contributors are not responsible for any loss arising out of any information, post or opinion appearing on this website. Investors are advised to consult financial consultant before acting on any such information.
        <br/>
        <br/>
        These opinions are only made available to give you information to make your own decisions.
    </p>
</section>
