We are social:
<div id="social-links">
    {% if site.facebook_username %}
        <a title="{{ site.facebook_user }} on Facebook" href="http://facebook.com/{{ site.facebook_user }}"><i class="fa fa-facebook-square"></i></a>
    {% endif %}
    {% if site.twitter_username %}
        <a title="{{ site.twitter_user }} on Twitter" href="http://twitter.com/{{ site.twitter_user }}"><i class="fa fa-twitter-square"></i></a>
    {% endif %}
    <a title="RSS feed" id="rss" href="/feed.xml"><i class="fa fa-rss-square"></i></a>
</div>
